Lets Import Pandas Library

In [2]:
import pandas as pd

Read the File into Data Frame

In [3]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

table = pd.read_html(url, header=0,keep_default_na=False)

In [6]:
df1 = table[0]
df1.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Skip 'Not Assigned' Borough

In [7]:
df_New = df1.query('Borough != "Not assigned"').reset_index(drop=True)
df_New.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

IF More than one neighborhood in the same postcode and combine the neighborhood separated by commas

In [16]:
df_3=df_New.groupby('Postcode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
df_3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Morningside, Guildwood, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [17]:
df_3.loc[df_3['Neighbourhood'] == 'Not assigned', 'Neighbourhood' ] = df_3['Borough']
df_3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Morningside, Guildwood, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

USe Shape Method

In [18]:
df_3.shape[0]

103

Get Latitude and Longitude from the File

In [19]:
lat_long = pd.read_csv("http://cocl.us/Geospatial_data/") 
lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now lets Rename "Postal Code" with "PostalCode"

In [20]:
lat_long.columns = ['PostalCode','Latitude','Longitude']
lat_long.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Now Lets correct Previous DF column name also to match as above DF column names

In [21]:
df_3.columns = ['PostalCode','Borough','Neighborhood']
df_3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Morningside, Guildwood, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Lets Merge both the DFs now to get to the final result.

In [22]:
df_final = pd.merge(left=df_3, right=lat_long, on="PostalCode", how="right")
df_final.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Above shown data is the same as required as per assignment.